<head>
    <title>League of Legends Game Tracker</title>
</head>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">League of Legends Game Tracker</span>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </div>
</header>


<form action="/main_app/summoner_name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit"/>
</form>
