<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>

<body>

<h2>League of Legends Game Tracker</h2>
<h2>Mode: {{MODE}} - Type: {{TYPE}} - Config: {{CONFIG}}

    <form action="/main_app/" method="get">
    <input type="submit" value="Game Over" />

            Banned Champions:
            {% for champ in BANNED %}
            <img src="https://ddragon.leagueoflegends.com/cdn/8.1.1/img/champion/{{champ}}.png" width="30" height="30">
            {% endfor %}
</form>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Team 1</h2>
    <p>
    	
	{% if TEAM1 %}

<ol>
    	{% for member in TEAM1 %}
        	<li>{{member.NAME}} - {{member.CHAMP}} - <img src="https://ddragon.leagueoflegends.com/cdn/8.1.1/img/spell/Summoner{{member.SPELL1}}.png" width="30" height="30"><img src="https://ddragon.leagueoflegends.com/cdn/7.10.1/img/spell/Summoner{{member.SPELL2}}.png" width="30" height="30"> </li>

       	<ul>
    		<li>{{member.RANKED.TIER}} {{member.RANKED.RANK}}           LP:{{member.RANKED.LP}}    {{member.RANKED.WINS}}-{{member.RANKED.LOSSES}}</li>

    	</ul>
    	{% endfor %}
</ol>

	{% else %}
    	<p>No team is available.</p>
	{% endif %}


    </p>
  </div>


  <div class="column" style="background-color:#bbb;">
    <h2>Team 2</h2>
    <p>
    
    {% if TEAM2 %}
 
<ol>
    	{% for member in TEAM2 %}
        	<li>{{member.NAME}} - {{member.CHAMP}} - <img src="https://ddragon.leagueoflegends.com/cdn/8.1.1/img/spell/Summoner{{member.SPELL1}}.png" width="30" height="30"><img src="https://ddragon.leagueoflegends.com/cdn/7.10.1/img/spell/Summoner{{member.SPELL2}}.png" width="30" height="30"> </li>

       	<ul>
    		<li>{{member.RANKED.TIER}} {{member.RANKED.RANK}}           LP:{{member.RANKED.LP}}    {{member.RANKED.WINS}}-{{member.RANKED.LOSSES}}</li>
    	</ul>
    	{% endfor %}
</ol>

	{% else %}
    	<p>No team is available.</p>
	{% endif %}


    </p>
  </div>
</div>

</body>

</html>
